@use 'variables' as *;


:root {
  --yellow: #FFD86E;
  --dark: #1A1A1A;
  --gray-text: #6B6B65;
  --gray-line: #d1d1d1;
  --nav-bg: #FAFAFA;
  --white: #FFFFFF;
  --footer-bg: #525150;
  --footer-text: #C9C7C4;
  --header-height: 68px;

  --font-heading: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  color: var(--dark);
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  cursor: $cursor-default;
}

a,
button,
summary,
label,
input,
textarea,
select,
[role="button"] {
  cursor: $cursor-default;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.site-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 60px;

  @include lg-down {
    padding: 0 32px;
  }

  @include sm-down {
    padding: 0 20px;
  }
}

.arrow-down,
.arrow-right {
  display: inline-block;
}
