

// BREAKPOINTS


$bp-lg: 1024px;
$bp-md: 860px;
$bp-sm: 520px;


// CURSOR

$cursor-default: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 20 20'%3E%3Ccircle cx='10' cy='10' r='9' fill='none' stroke='%231a1a1a' stroke-width='1.5'/%3E%3C/svg%3E") 10 10, auto;

@mixin lg-down {
  @media (max-width: $bp-lg) {
    @content;
  }
}

@mixin md-down {
  @media (max-width: $bp-md) {
    @content;
  }
}

@mixin sm-down {
  @media (max-width: $bp-sm) {
    @content;
  }
}
